{
	"clientId": "", // Your discord bot client ID
	"token": "", // Your discord bot token
    "address": "", // Address of your server, should be 192.168.x.x
	"botUser": "" // Should be a non-sudo user
}