module.exports = {
  clientId: process.env.clientId || "你的Bot的 Client ID", // 可以從 Discord develoepr portal 獲取
  token: process.env.token || "機器人Token", // 可以從 Discord develoepr portal 獲取
  botUser: process.env.botUser || "機器人主機用戶", // 使用 `adduser` 創建的 **無root權限** 賬號
  dockerSock: process.env.dockerSock || "Docker socket位置", // 預設為 '/var/run/docker.sock'
};
